* {
  margin: 0;
  padding: 0;
}

.wrapper_7374 {
  width:100vw;
}

.animation-comp {
  position: relative;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1rem; // Base font size
}

.svg-container {
  width: 100%; // Ensures the SVG container does not exceed the width of its parent
  height: auto; // Keeps the SVG height proportional to its width
  // margin: 0 auto; // Centers the SVG container if it's smaller than the parent width
  position: relative; // You might need this for absolute positioning of child elements
  // margin-top: 70px;
  
}

/* Small devices (mobile phones) */
@media only screen and (max-width: 600px) {
  .wrapper_7374 {
    .overlay-text {
      font-size: 0.75rem; // Smaller text for smaller devices
    }
  }
  .svg-container {
    margin-top: 130px; /* Adjust the top margin for mobile */
  }
}

/* Medium devices (tablets) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .wrapper_7374 {
    .overlay-text {
      font-size: 0.9rem; // Slightly larger text for tablets
    }
  }
  .svg-container {
    margin-top: 150px; /* Adjust the top margin for mobile */
  }
}

/* Large devices (desktops) */
@media only screen and (min-width: 1025px) {
  .wrapper_7374 {
    .overlay-text {
      font-size: 1.2rem; // Larger text for desktops
    }
  }
  .svg-container {
    margin-top: 160px; /* Adjust the top margin for mobile */
  }
}

/* Extra large devices (large desktops) */
@media only screen and (min-width: 1281px) {
  .wrapper_7374 {
    .overlay-text {
      font-size: 1.5rem; // Larger text for large desktops
    }
  }
}